/****************************/
/********** FOOTER **********/
/****************************/

.footer-content {
    width: 100vw;
    background-color: #222;
    margin: 2% 0 0 0;
    position: fixed;
    bottom: 10px;
}

.footer-logo {
    width: 7em;
    max-width: 15%;
    min-width: 50px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.footer-rs {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.picto-rs {
    margin-left: 30px;
    margin-right: 30px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
}

.footer-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.info-column {
    margin-left: 30px;
    margin-right: 30px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 1);
}

.info-title {
    left: 0px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.info-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-item {
    top: 85vh;
    left: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin: 3px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: 0.5s;
}

.picto-png {
    max-width: 64px;
    width: 50px;
    transition: 0.5s;
}

.picto-png:hover {
    width: 70px;
    transition: 0.5s;
}

.info-item>a {
    text-decoration: none;
    color: unset;
}

p>a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: 0.5s;
}

p>a:hover {
    border-bottom: 4px solid rgb(5, 250, 254);
    color: rgb(5, 250, 254);
    letter-spacing: 2px;
    transition: 0.5s;
}

.info-item-mail {
    color: #fff;
    position: relative;
    top: 50px;
}